@using H.Necessaire.UI

<div class="h-necessaire @nameof(HNaviMenu) flex-node-h">

    @if (NaviItems.IsEmpty())
    {
        <div><em>No Navi Items specified</em></div>
    }
    else
    {
        @foreach(UserOption userOption in NaviItems)
        {
            @NaviItemTemplate(userOption)
        }
    }

</div>



@code {
    [Parameter, EditorRequired] public RenderFragment<UserOption> NaviItemTemplate { get; set; }
    [Parameter, EditorRequired] public UserOption[] NaviItems { get; set; }
}
