@inherits Abstracts.HRazorComponentBase

<div class="h-necessaire @nameof(HScrollableContent) flex-node" style="overflow: auto;">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}
